<!doctype html>
<html
  lang="ko"
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" />
    <link rel="stylesheet" th:href="@{/resources/css/style.css}" />
    <title layout:title-pattern="$CONTENT_TITLE - $LAYOUT_TITLE">Admin Panel</title>
  </head>
  <body>
    <th:block th:replace="~{default/fragments/navbar :: navbar}">
      <div>Navbar Placeholder</div>
    </th:block>

    <!-- Sidebar + Content -->
    <div class="main-wrapper">
      <!-- Sidebar -->
      <th:block th:replace="~{default/fragments/sidebar :: sidebar}">
        <div>Sidebar Placeholder</div>
      </th:block>

      <!-- Main Content -->
      <!-- Sidebar + Content -->
      <div class="main-wrapper">
        <th:block layout:fragment="content"> </th:block>
      </div>
    </div>

    <!-- Footer -->
    <th:block th:replace="~{default/fragments/footer :: footer}"> </th:block>

    <script th:src="@{/webjars/bootstrap/js/bootstrap.bundle.min.js}"></script>
    <th:block layout:fragment="script"> </th:block>
  </body>
</html>
