<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.fp024.mvcpractice.mapper.BoardMapper">

  <insert id="insert" 
          useGeneratedKeys="true" keyProperty="bno" keyColumn="BNO">
    INSERT INTO TBL_BOARD (TITLE, WRITER, CONTENT)
    VALUES (#{title}, #{writer}, #{content})
  </insert>

  <select id="selectOne" resultType="BoardDTO">
    SELECT * 
      FROM TBL_BOARD
     WHERE BNO = #{bno}
  </select>

  <update id="remove" >
    UPDATE TBL_BOARD
       SET DELFLAG = true
     WHERE BNO = #{bno}
  </update>

  <update id="update">
    UPDATE TBL_BOARD
       SET TITLE = #{title}
         , CONTENT = #{content}
         , UPDATEDATE = LOCALTIMESTAMP
         , DELFLAG = #{delFlag}
     WHERE BNO = #{bno}
  </update>

  <select id="list" resultType="BoardDTO">
    SELECT BNO
         , TITLE
         , WRITER
         , REGDATE
      FROM TBL_BOARD
     WHERE DELFLAG = false  
     ORDER BY BNO DESC
  </select>

</mapper>